.container {
    display: flex;
    flex-direction: row;
    margin-top: 2rem;
    justify-content: space-around;
    font-size: 2rem;
}

#word {
    letter-spacing: 0.4rem;
    word-spacing: 0.8rem;
}

#message {
    display: flex;
    justify-content: center;
    font-size: 2rem;
    color: red;
    height: 2.5rem;
    margin-top: 2rem;
}

#alphabet {
    display: flex;
    justify-content: space-evenly;
    margin-top: 2rem;
    flex-wrap: wrap;
    width: 400px;
    margin: 2rem auto;
}

.letter {
    width: 32px;
    height: 32px;
    border: 1px solid black;
    margin: 2px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.correct-letter {
    background-color: green;
    font-weight: bold;
}

.wrong-letter {
    background-color: red;
    font-weight: bold;
}