.wrapper {
    display: flex;
    flex-direction: row;
}

.container {
    display: flex;
    flex-direction: row;
    margin-top: 6rem;
    justify-content: space-around;
    font-size: 2rem;
}

#word {
    letter-spacing: 0.4rem;
    word-spacing: 0.8rem;
}

#message {
    display: flex;
    justify-content: center;
    font-size: 2rem;
    color: red;
    height: 5 rem;
    margin-top: 2rem;
    align-items: center;
    /* position: absolute;
    top: 10%;
    left: 45%;
    transform: translate(-45%); */
}

#alphabet {
    display: flex;
    justify-content: space-evenly;
    margin-top: 2rem;
    flex-wrap: wrap;
    width: 400px;
    margin: 2rem auto;
}

.letter {
    width: 32px;
    height: 32px;
    border: 1px solid black;
    margin: 2px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.correct-letter {
    color: darkblue;
    background-color: lightblue;
    font-weight: bold;
}

.wrong-letter {
    background-color: lightgray;
    font-weight: bold;
    color: gray;
    text-decoration: line-through;

}